global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen contrail-webui
  bind __address__:8143
  mode tcp
  server 10.6.8.51 10.6.8.51:8143 check inter 2000 rise 2 fall 5

listen openstack_horizon
  bind __address__:80
  server 10.6.8.52 10.6.8.52:80 check inter 2000 rise 2 fall 5

listen contrail-command
  bind __address__:9091
  mode tcp
  server 10.6.8.51 10.6.8.51:9091 check inter 2000 rise 2 fall 5

listen contrail-config
  bind __address__:8082
  server 10.6.11.51 10.6.11.51:8082 check inter 2000 rise 2 fall 5

listen vnc0
  bind __address__:5980
  mode tcp
  server 10.6.8.54 10.6.8.54:5900 check inter 2000 rise 2 fall 5

